{
  "plugins": [
    "jest",
    "react",
    "react-hooks"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:valtio/recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-curly-spacing": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "valtio/state-snapshot-rule": "warn",
    "valtio/avoid-this-in-proxy" :"warn"
  }
}