{
  "plugins": [
    "jest",
    "react-hooks"
  ],
  "extends": [
    "standard",
    "standard-react",
    "react-app"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-curly-spacing": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0
  },
  "parser": "babel-eslint"
}